caller/CMakeFiles
caller/CMakeCache.txt
caller/Makefile
caller/bin/*
caller/client_log.txt
callee/CMakeFiles
callee/CMakeCache.txt
callee/Makefile
callee/bin/*
callee/client_log.txt
master/CMakeFiles
master/CMakeCache.txt
master/Makefile
master/bin/*
master/master_log.txt
worker/CMakeFiles
worker/CMakeCache.txt
worker/Makefile
worker/bin/*
worker/worker_log.txt
relay/CMakeFiles
relay/CMakeCache.txt
relay/Makefile
relay/bin/*
relay/relay_log.txt
.vscode